<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Microfrontends</title>
  <meta name="importmap-type" use-injector />
  <script type="injector-importmap" src="https://react.microfrontends.app/importmap.json"></script>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lilita+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">



  <% if (isLocal) { %>
    <script type="injector-importmap">
    {
      "imports": {
        "@react-mf/root-config": "//localhost:9000/react-mf-root-config.js",
        "@react-mf/navbar": "//localhost:8080/react-mf-navbar.js",
        "@react-mf/home": "//localhost:8081/react-mf-home.js",
        "@react-mf/login": "//localhost:8082/react-mf-login.js",
        "@react-mf/register": "//localhost:8083/react-mf-register.js",
        "@react-mf/styleguide": "//localhost:8084/react-mf-styleguide.js",
        "@react-mf/home-videoclase": "//localhost:8085/react-mf-home-videoclase.js",
        "@react-mf/navbar-videoclase": "//localhost:8086/react-mf-navbar-videoclase.js"
      }
    }
  </script>
    <% } %>
      <style>
        /* Establecer el color de fondo para toda la página y el color de texto */
        body {

          margin: 0 !important;
          /* Eliminar márgenes predeterminados del navegador */
          font-family: Arial, sans-serif !important;
          /* Fuente opcional */
        }
      </style>
      <template id="single-spa-layout">
        <single-spa-router>
          <!-- Condicional para mostrar el navbar solo si no estás en la ruta de 'singin' -->
          <route path="registro" class="body-login">

            <div class="main-content">
              <application name="@react-mf/register"></application>
            </div>
          </route>

          <route default>
            <nav class="topnav">
              <application name="@react-mf/navbar" loader="topNav" error="topNav"></application>
            </nav>
            <div class="main-content">
              <application name="@react-mf/home"></application>
            </div>
          </route>

          <route path="singin">
            <application name="@react-mf/login"></application>
          </route>

          <route path="HomeVC">
            <nav class="topnav">
              <application name="@react-mf/navbar-videoclase" loader="topNav" error="topNav"></application>
            </nav>

            <application name="@react-mf/home-videoclase"></application>
          </route>
          

          
        </single-spa-router>
      </template>
</head>

<body>
  <script
    src="https://storage.googleapis.com/react.microfrontends.app/deps/npm:import-map-overrides@4.2.0/dist/import-map-overrides.js"></script>
  <script
    src="https://storage.googleapis.com/react.microfrontends.app/deps/npm:@single-spa/import-map-injector@2.0.0/lib/import-map-injector.js"></script>
  <script>

    window.importMapInjector.initPromise.then(() => {
      import('@react-mf/root-config');
      import('@react-mf/styleguide');

    });
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>